{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 12
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-debugger": 0,
    "no-console": 0
  }
}
